<div class="container">

<h2><%= @cocktail.name %></h2>

<p><% @cocktail.doses.each do |dose| %>
<%= dose.description %>
<%= dose.ingredient.name %>
<%= link_to "Supprimer", dose_path(dose.id), method: :delete, data: { confirm: "Are you sure?" } %>
<% end %>
</p>

<% if @cocktail.photo.attached? %>
  <%= cl_image_tag @cocktail.photo.key, width: 400, height: 300, crop: :fill %>
<% end %>

<%= link_to "Revenir aux cocktails", cocktails_path %>


</div>
